.bg-yellow{
    background-color: $yellow;
}
.bg-purple{
    background-color: $purple;
}
.bg-green{
    background-color: $green;
}
.bg-blue{
    background-color: $blue;
}
.bg-grey{
    background-color: $grey;
}
.bg-dark-grey{
    background-color: $dark-grey;
}