$yellow: #fff200;
$ligth-yellow: #fffac2;
$green: #09afa2; //#00ab97
$green-two: #18abab;
$light-purple: #b41e8e;
$purple: #970e76;
$dark_purple: #7a005f;
$grey: #dad7d6;
$dark-grey: #d1d3d4;
$blue: #034694;
$orang: #f58220;
$orang-two: #ef7d00;
$black: #354b54;
$base-color: #b80e80;
$base-green: #00ab97;
$base-grey: #3e3e3e;