.our-progress{
    //min-height: 100vh;
    background-color: $light-purple;
    h2{
        margin-top: 50px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}